.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.flex-row{
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 25px;
}

.header{
    text-align: center;
    height: 150px;
}

.card{
    background-color: lightgrey;
    margin-bottom: 20px;
    width: 800px;
    padding: 15px;
}

.footer{
    text-align: center;
}

body{
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: lightgray;
    text-decoration-thickness: 5px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.h1-text-emphasis{
    letter-spacing: -3px;
    font-weight: 500;
    color: black;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

li{
    font-size: small;
}

ul{
    list-style-type: none;
}

.image-style{
    width: 300px;
}